<!DOCTYPE html>
<head>
  <title>Stonks Bot</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='stonks.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body style="background-color: #e6e6fa">
  <div class="pageBox">
    <div class="overlap">
      <p class="generate_text">
        "Generate the graph of bitcoin in the last month"
      </p>
    </div>

    <div class="formBox">
      <img
        src="{{ url_for('static', filename='stonks.jpg') }}"
        width="200"
        ,
        height="175"
      />
      <h3 class="centerText">Enter a stonks question</h3>
      <form action="/" method="post">
        <input type="text" name="stock" placeholder="Enter here:" required />
        <input type="submit" value="Click here for result" />
      </form>
      {% if result %}
      <div class="result">{{ result }}</div>
      {% endif %}
    </div>
  </div>
</body>
